header {
  background-color: #002e3c;
  padding: 15px;

  .slogan {
    color: white;
    position: absolute;
    right: 15px;
    line-height: 42px;
  }
}

.logo {
  font-size: 25pt;
  font-weight: bold;

  .logo1 {
    color: #ffd700;
    text-transform: uppercase;
  }

  .logo2 {
    color: white;
    text-transform: uppercase;
  }

}