header {
  background-color: #002e3c;
  padding: 15px;
  box-shadow: 0 2px 4px -1px rgba(0,0,0,0.36);

  .slogan {
    color: white;
    position: absolute;
    right: 15px;
    line-height: 34px;
  }
}

.logo {
  font-size: 25pt;
  font-weight: bold;

  .logo1 {
    color: #ffd700;
    text-transform: uppercase;
  }

  .logo2 {
    color: white;
    text-transform: uppercase;
  }

}