.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      width: 100%;
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;

      &:focus {
        border-color: #ffc107; /* Yellow color when focused */
      }
    }
  }

  button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #004394;
    }
  }

  .google-signin {
    background-color: #fff;
    color: #000;
    border: 1px solid #ccc;
    margin-top: 10px;

    &:hover {
      background-color: #f8f8f8;
    }
  }
  .round-button {
    display: inline-block;
    padding: 10px 20px;
    
    
    color: white;
    border-radius: 1px;
    font-family: 'Gotham-700-Bold';
    font-size: 18px;
    cursor: pointer;
    margin-top: 20px;
    background: linear-gradient(to bottom, #2ecc71, #27ae60);

    &:hover {
      background: linear-gradient(to bottom, #27ae60, #219a52);
    }
  }

  
}
