

@font-face {
  font-family: 'Gotham-700-Bold';
  src: url('./media/fonts/Gotham-700-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-500-Medium';
  src: url('./media/fonts/Gotham-500-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Gotham-400-Book';
  src: url('./media/fonts/Gotham-400-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$coba-petrol: #002e3c;
$coba-fat-font: Gotham-700-Bold;
$coba-medium-font: Gotham-500-Medium;
$coba-thin-font: Gotham-400-Book;

body {
  background-color: white;
  font-family: $coba-thin-font, sans-serif;
  color: $coba-petrol;
}

.wrapper {
  margin: 10px;
}

.custom-table {
  border-collapse: collapse;

}

.custom-table th, .custom-table td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd; /* Add a border between rows */
}

.custom-table th {
  background-color: #f2f2f2;
}

.custom-table th, .custom-table td {
  border: 1px solid #ddd; /* Add a border around cells */
}

